@import "tailwindcss";

:root {
  font-family: "Segoe UI", Arial, sans-serif;
}

@media print {
  body {
    background: white !important;
    color: black !important;
    padding: 0 !important;
    margin: 0 !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .no-print {
    display: none !important;
  }
}
